# Blacklist files/folders in ~
/*

# ~/ folder
!.gitignore
!.Xmodmap
!.Xresources
!.asoundrc
!.asoundrc.asoundconf
!.bash_profile
!.gitignore_global
!.ideavimrc
!.vimrc
!.xinitrc
!.zshrc
!.tmux.conf
!.inputrc

# ~/.config folder
!.config/
.config/*
!.config/alacritty/
!.config/dunst/
!.config/i3/
!.config/polybar/
!.config/termite/
!.config/libinput-gestures.conf
!.config/compton.conf
!.config/nvim/init.vim

# ~/.emacs.d folder
!.emacs.d/
.emacs.d/*
!.emacs.d/init.el
!.emacs.d/custom.el

# ~/.local/bin folder
!.local/
.local/*
!.local/bin/
.local/bin/*
!.local/bin/flash_win.sh
!.local/bin/camtoggle
!.local/bin/shrug

# ~/.gnupg folder
!.gnupg/
.gnupg/*
!.gnupg/gpg-agent.conf
