# All but dotfiles and dotfolders and its content
*
!/.*
!/.*/**
# The rest ignored stuff
/.emacs.d/*
!/.emacs.d/*.el
/.config/configstore
/.config/mimeapps.list
/.config/pavucontrol.ini
/.config/pulse
/.config/yarn
/.config/Slack
/.config/htop
.DS_Store
.[0-9]*
.cache
.cargo
.local
.yarn*
.docker
.vim
.viminfo
.virtualenvs
.wget*
.zcomp*
.serverauth*
*history*
.rnd
.ssh
.CFUsertextencoding
.v8*
.gnupg
.npm
.oh-my-zsh
.zshupdate
.pgadmin
.cups
.bash_sessions
.Xauthority
.babel.json
.esd_auth
.lesshst
.matplotlib
.oracle_jre_usage
.zsh-update
.tor
.pylint.d
.idlerc
.mozilla
.pki
.node-gyp
.ipython
