# Blacklist files/folders in ~
/*

# ~/ folder
!.gitignore
!.Xmodmap
!.Xresources
!.asoundrc
!.asoundrc.asoundconf
!.bash_profile
!.gitignore_global
!.ideavimrc
!.vimrc
!.xinitrc
!.tmux.conf
!.inputrc
!.fehbg

# ~/.config folder
!.config/
.config/*
!.config/alacritty/
!.config/dunst/
!.config/fish/config.fish
!.config/fish/functions/
!.config/i3/
!.config/polybar/
!.config/termite/
!.config/libinput-gestures.conf
!.config/picom.conf
!.config/nvim/init.vim
!.config/doom/

# ~/.local/bin folder
!.local/
.local/*
!.local/bin/
.local/bin/*
!.local/bin/flash_win.sh
!.local/bin/camtoggle
!.local/bin/shrug
!.local/bin/xclear

# ~/.gnupg folder
!.gnupg/
.gnupg/*
!.gnupg/gpg-agent.conf
